[submodule "projects/minishell"]
	path = projects/minishell
	url = git@github.com:BoutPure/minishell.git
[submodule "projects/cub3D"]
	path = projects/cub3D
	url = git@github.com:RouDenr/Cub3D.git
[submodule "projects/CPP"]
	path = projects/CPP
	url = git@github.com:RouDenr/CPP.git
[submodule "projects/ft_containers"]
	path = projects/ft_containers
	url = git@github.com:RouDenr/ft_containers.git
[submodule "projects/ft_irc"]
	path = projects/ft_irc
	url = git@github.com:RouDenr/ft_irc.git
[submodule "projects/Inception"]
	path = projects/Inception
	url = git@github.com:RouDenr/Inception.git
[submodule "projects/libasm"]
	path = projects/libasm
	url = git@github.com:RouDenr/libasm.git
[submodule "projects/dr-quine"]
	path = projects/dr-quine
	url = git@github.com:RouDenr/dr-quine.git
[submodule "projects/malloc"]
	path = projects/malloc
	url = git@github.com:RouDenr/malloc.git
