[submodule "projects/minishell"]
	path = projects/minishell
	url = git@github.com:BoutPure/minishell.git
[submodule "projects/cub3D"]
	path = projects/cub3D
	url = git@github.com:RouDenr/Cub3D.git
[submodule "projects/CPP"]
	path = projects/CPP
	url = git@github.com:RouDenr/CPP.git
